# Enable d8 merger
build --define=android_dexmerger_tool=d8_dexmerger

# Flags for the D8 dexer
build --define=android_incremental_dexing_tool=d8_dexbuilder
build --define=android_standalone_dexing_tool=d8_compat_dx
build --nouse_workers_with_dexbuilder

# CI configuration
build:ci \
    --experimental_persistent_javac \
    --persistent_android_resource_processor \
    --disk_cache=~/.cache/bazel/

build --define=EXECUTOR=remote
build --disk_cache=
build --experimental_inmemory_dotd_files
build --experimental_inmemory_jdeps_files
build --incompatible_strict_action_env=true
build --remote_timeout=600
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --crosstool_top=@remote_config//cc:toolchain
build --extra_execution_platforms=@remote_config//config:platform
build --extra_toolchains=@remote_config//config:cc-toolchain
build --host_platform=@remote_config//config:platform
build --platforms=@remote_config//config:platform
build --jobs=150

build --remote_executor=grpcs://remotebuildexecution.googleapis.com
build --google_default_credentials
build --noremote_local_fallback
build --remote_instance_name=SOME_INSTANCE_NAME
build --cpu=k8
build --host_cpu=k8
